<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div class="ultimateImg">
        <img src="assets/images/car.jpg" alt="">
        
      </div>
      <div class="allText bottomText">
        <p class="text-blk headingText">
          About Us
        </p>
        <p class="text-blk subHeadingText">
            Expert Care for Your Car, Every Time
        </p>
        <p class="text-blk description">
            Welcome to Auto Care, your trusted partner for all vehicle maintenance and repair needs. With a team of certified technicians and state-of-the-art equipment, we ensure your vehicle runs smoothly and safely. Experience top-quality service and customer care with every visit.
        </p>
        <a routerLink="/" class="explore">
          View Services
        </a>
      </div>
    </div>
  </div>